@model IEnumerable<UserRegistration.Models.User>

@{
    ViewBag.Title = "View Users";
}

<div class="row">
    <div class="col-md-6">
        <h2>View Users</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Home"))
        {
            <button class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Go Back</button>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th width="10%">User ID</th>
                    <th width="45%">First Name</th>
                    <th width="45%">Last Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3">There is no data to display.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
